<div class="card-container">
    @for (personaje of Personajes; track personaje.id) {
    <mat-card class="personaje-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ personaje.name }}</mat-card-title>
            <mat-card-subtitle>{{ personaje.occupation }}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image [src]="'https://cdn.thesimpsonsapi.com/500/character/' + personaje.id + '.webp'"
            [alt]="'Photo of ' + personaje.name" />

        <mat-card-content>
            <p>
                @for (phrase of personaje.phrases; track phrase) {
                {{ phrase }}<br />
                }
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    }
</div>