.btnSumar{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
}

.btnRestar {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
}